name: Deploy to InfinityFree

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Upload to SFTP
      uses: wangyucode/sftp-upload-action@v2.0.2
      with:
        host: ${{ secrets.FTP_SERVER }}
        port: 22
        username: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASSWORD }}
        localDir: './'
        remoteDir: '/home/vol1000_6/infinityfree.com/if0_40374989/doom-dbhosting.xo.je/htdocs'
